---
- name: Backup Cisco device configs
  hosts: all
  gather_facts: no

  tasks:
    - name: Ensure backups folder exists
      file:
        path: ./backups
        state: directory

    - name: Backup running configuration
      ios_config:
        backup: yes
        backup_options:
          dir_path: ./backups
          filename: "{{ inventory_hostname }}-running-config"
