- name: Router Configuration
  hosts: routers
  gather_facts: no

  tasks:
    - name: Configure hostname
      cisco.ios.ios_config:
        lines:
          - hostname R1

    - name: Configure router interface
      cisco.ios.ios_config:
        parents: interface GigabitEthernet0/0
        lines:
          - description Link to Switch
          - ip address 192.168.10.1 255.255.255.0
          - no shutdown
