---
- name: Router Configuration
  hosts: routers
  gather_facts: no

  tasks:

    - name: Configure hostname dynamically
      cisco.ios.ios_config:
        lines:
          - "hostname {{ inventory_hostname }}"

    - name: Enable physical interface GigabitEthernet0/0/0
      cisco.ios.ios_config:
        parents: interface GigabitEthernet0/0/0
        lines:
          - description Link to Switch
          - no shutdown

    - name: Configure RIP on R1
      when: inventory_hostname == "R1"
      cisco.ios.ios_config:
        lines:
          - router rip
          - version 2
          - no auto-summary
          - network 192.168.1.0
          - network 192.168.2.0

    - name: Configure RIP on R2
      when: inventory_hostname == "R2"
      cisco.ios.ios_config:
        lines:
          - router rip
          - version 2
          - no auto-summary
          - network 192.168.1.0
          - network 192.168.2.0

    - name: Set MOTD banner
      cisco.ios.ios_config:
        lines:
          - banner motd ^UNAUTHORISED ACCESS ONLY^
