---
- name: Router Configuration
  hosts: routers
  gather_facts: no

  tasks:

    - name: Configure hostname dynamically
      cisco.ios.ios_config:
        lines:
          - "hostname {{ inventory_hostname }}"

    - name: Configure IPv4 and IPv6 on physical interface dynamically
      cisco.ios.ios_config:
        parents: interface GigabitEthernet0/0/0
        lines:
          - "ip address {{ ipv4_address }} {{ ipv4_mask }}"
          - "ipv6 address {{ ipv6_address }}"
          - no shutdown

    - name: Configure RIP on R1
      when: inventory_hostname == "R1"
      cisco.ios.ios_config:
        lines:
          - router rip
          - version 2
          - no auto-summary
          - network 192.168.1.0
          - network 192.168.2.0

    - name: Configure RIP on R2
      when: inventory_hostname == "R2"
      cisco.ios.ios_config:
        lines:
          - router rip
          - version 2
          - no auto-summary
          - network 192.168.1.0
          - network 192.168.2.0
          
    - name: Configure IPv6 static route on R1
      when: inventory_hostname == "R1"
      cisco.ios.ios_config:
      lines:
        - ipv6 route 2001:DB8:2::/64 2001:DB8:2::1
      

    - name: Configure IPv6 static route on R2
      when: inventory_hostname == "R2"
      cisco.ios.ios_config:
      lines:
         - ipv6 route 2001:DB8:1::/64 2001:DB8:1::1
      

    - name: Set MOTD banner
      cisco.ios.ios_config:
        lines:
          - banner motd ^UNAUTHORISED ACCESS ONLY^
