---
- name: Router Configuration
  hosts: routers
  gather_facts: no

  tasks:
    - name: Configure hostname
      cisco.ios.ios_config:
        lines:
          - hostname R1

    - name: Enable physical interface
      cisco.ios.ios_config:
        parents: interface GigabitEthernet0/0/0
        lines:
          - description Link to Switch
          - no shutdown

    - name: Set MOTD banner
      cisco.ios.ios_config:
        lines:
          - banner motd ^UNAUTHORISED ACCESS ONLY^
