- name: Switch Configuration
  hosts: switches
  gather_facts: no

  vars:
    ansible_command_timeout: 120

  tasks:
    - name: Configure hostname
      cisco.ios.ios_config:
        lines:
          - hostname S1

    - name: Configure access port Gi1/0/1
      cisco.ios.ios_config:
        parents: interface GigabitEthernet1/0/1
        lines:
          - switchport mode access
          - switchport access vlan 10
          - switchport port-security
          - switchport port-security maximum 1
          - switchport port-security violation shutdown
          - no shutdown

    - name: Set MOTD banner
      cisco.ios.ios_config:
        lines:
          - banner motd ^UNAUTHORISED ACCESS ONLY^
