- name: Switch Configuration
  hosts: switches
  gather_facts: no

  vars:
    ansible_command_timeout: 120

  tasks:

    - name: Configure hostname dynamically
      cisco.ios.ios_config:
        lines:
          - "hostname {{ inventory_hostname }}"

    - name: Configure access port dynamically
      cisco.ios.ios_config:
        parents: interface {{ access_port }}
        lines:
          - switchport mode access
          - switchport access vlan {{ vlan }}
          - switchport port-security
          - switchport port-security maximum 1
          - switchport port-security violation shutdown
          - no shutdown

    - name: Set MOTD banner
      cisco.ios.ios_config:
        lines:
          - banner motd ^UNAUTHORISED ACCESS ONLY^
