- name: Switch Configuration
  hosts: switches
  gather_facts: no

  tasks:
    - name: Configure hostname
      cisco.ios.ios_config:
        lines:
          - hostname S1

    - name: Create VLAN 10
      cisco.ios.ios_config:
        lines:
          - vlan 10
          - name USERS

    - name: Configure access port with security
      cisco.ios.ios_config:
        parents: interface FastEthernet0/1
        lines:
          - switchport mode access
          - switchport access vlan 10
          - switchport port-security
          - switchport port-security maximum 1
          - switchport port-security violation shutdown
